.themeContainer{
  margin-bottom: 2%;
}

.themeContainer .themeBtn{
  padding:0.5%;
  border: 1px solid #58595b;
}

.themeContainer .themeBtn:hover{
  padding:0.5%;
  background-color: #58595b;
  color: #fff;
}

.dark{
  background-color: #58595b;
}

.lightTh{
  background-color: #f7f7f7;
}

.calc-container{
 padding: 2%;
 width: 80%;
 max-width: 300px;
 text-align: center;
}

.clrBtn{
  width: 6%;
  padding: 3.5%;
  display: inline-block;
  border: 1px solid green;
  background-color: #ee3524;
  text-align: center;
  margin-bottom: 2.5%;
  min-width: 50px;
  color: #fff;
  font-weight: 600;
}

.digit{
  width: 1.5%;
  padding: 3.5%;
  display: inline-block;
  border: 1px solid green;
  background-color: #f3f5f5;
  text-align: center;
  margin-bottom: 2.5%;
  min-width: 33px;
}

.operator{
  width: 1.5%;
  padding: 3.5%;
  display: inline-block;
  border: 1px solid green;
  background-color: orange;
  text-align: center;
  margin-bottom: 2.5%;
  min-width: 33px;
}

.equalOp{
  background-color: #96c605;
}

#userInput{
  font-size: 13px;
  padding: 7.7px 0;
}